* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aquamarine;
}

.nav-list {
  display: flex;
  border: 2px solid sienna;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 10vh;
  align-items: center;
}
.nav-links {
  background-color: purple;
  list-style: none;
}
.nav-links:hover {
  background-color: white;
}
