* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(180deg, #ffffff 0%, #f8f8f8 21.88%, #e1e1e1 100%);
  font-family: "Playfair Display", serif;
}

nav {
  height: 10vh;

  display: flex;
  justify-content: space-around;
  position: relative;
}

.nav-list {
  width: 80%;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.logo {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logol {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: bold;
  line-height: 64px;
  text-align: center;
  background: linear-gradient(180deg, #ffdaa3 0%, #f6ce91 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-links {
  list-style: none;
  font-size: 1.2em;
}
.nav-links:hover {
  //background-color: white;
}

.landing {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: relative;
  overflow: hidden;
  margin-top: 1vh;
}

.intro-text {
  font-size: 1.4em;
  padding-top: 3%;
  padding-left: 10%;
}

.big-intro {
  font-size: 3rem;
  padding-left: 10%;
}

.child1 {
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
}

.child2 {
  grid-column: 2/4;
  grid-row: 1/4;
  align-self: center;
}

img {
  width: 100%;
  height: auto;
}

svg {
  width: 100%;
  height: auto;
}

#pen {
  animation: pen 5s ease-in-out infinite alternate-reverse;
  transform-origin: start;
  transform-box: fill-box;
}

@keyframes pen {
  from {
    transform: rotateZ(-2deg);
  }
  to {
    transform: rotateZ(7deg);
  }
}

#right-arm {
  animation: right-arm 5s ease-in-out infinite alternate-reverse;
  transform-origin: start;
  transform-box: fill-box;
}

@keyframes right-arm {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}

@media screen and (max-width: 1020px) {
  #logol {
    font-size: 1.2em;
  }

  .intro-text {
    padding-left: 0%;
  }

  .big-intro {
    padding-left: 0%;
  }
}

@media screen and (max-width: 768px) {
  .nav-list {
    position: fixed;
    background-color: rgb(160, 160, 160);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -30%);
    -webkit-clip-path: circle(100px at 90% -30%);
    transition: all 1s ease-out;
    pointer-events: none;
    z-index: 1;
  }

  .nav-list.open {
    clip-path: circle(1200px at 90% -10%);
    -webkit-clip-path: circle(1200px at 90% -10%);
    pointer-events: all;
  }

  nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .line {
    width: 30px;
    height: 3px;
    background-color: rgb(59, 59, 59);
    margin: 5px;
  }

  .landing {
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 1fr 1fr 1%;
    overflow: auto;
    padding-top: 10vh;
  }

  .svg-cont {
    width: 100%;
  }
  .child2 {
    grid-column: 1/4;
    grid-row: 2/3;
    align-self: end;
    background-color: none;
  }

  .child1 {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    font-size: 1em;
  }
  img {
    object-fit: contain;
    width: 100%;
  }

  .big-intro {
    font-size: 2rem;
  }

  #logol {
    font-size: 1.5rem;
  }

  .logo {
    width: 50%;
    display: flex;
    align-items: center;
    float: left;
    justify-content: center;
  }
}
